:root {
  --bgcolor: #181818;
  --white: #c4c4c4;
  --purple: rgb(104, 72, 233);
  --clouds: #87ceeb;
}
.light-theme {
  --bgcolor: #dbd9d9;
  --white: #232323;
  --purple: rgb(104, 72, 233);
  --clouds: #87ceeb;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  background-color: var(--bgcolor);
  transition: background-color 0.5s ease;
}
body.blue-background {
  background-color: var(--clouds);
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bgcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}
#preloader p {
  color: var(--white);
}
#myParagraph {
  color: var(--purple);
}
#nav-menu {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  background-color: var(--bgcolor);
  transition: background-color 0.5s ease;
  border-bottom: 0.2px solid rgba(128, 128, 128, 0.11);
  /* z-index: 9999; */
}
#nav-menu.cloudnavmenu {
  background-color: var(--clouds);
  z-index: 0;
}
#left-nav {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#left-nav a {
  text-decoration: none;
  color: var(--white);
  transition: 0.2s ease-in-out;
}
#left-nav a:hover {
  color: var(--purple);
}
#currentdiv {
  color: var(--purple);
}
#right-nav {
  width: 80%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1em 3em;
  gap: 1.2em;
}
#right-nav a {
  color: var(--white);
  text-decoration: none;
  transition: 0.2s ease-in-out;
  font-size: small;
  cursor: pointer;
}
#right-nav a:nth-child(8),
#right-nav a:nth-child(7) {
  font-size: 1.5em;
}
#right-nav a:hover {
  color: var(--purple);
}
#main {
  overflow: hidden;
}
#home,
#skills,
#contact,
#statistics,
#about {
  padding-top: 4em;
  height: 100vh;
}

/* ------- */
#home {
  height: 130vh;
  margin-top: 0;
}
/* --------- */
#clouds {
  height: 60vh;
  position: relative;
}
#clouds img {
  width: 100%;
  position: absolute;
  z-index: 2;
}
#clouds img:first-child {
  transform: translateX(-110%);
}
#clouds img:nth-child(2) {
  transform: translate(-100%, 40%);
}
#clouds img:nth-child(3) {
  transform: translate(110%, 30%);
}
#aboutp {
  margin-top: 1em;
  font-size: 4em;
  opacity: 0;
  text-align: center;
  color: var(--bgcolor);
  z-index: 1;
  margin-bottom: 2em;
}
#mainabout {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  padding: 2em;
}
#leftabout {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#leftabout img {
  width: 100%;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#rightabout {
  width: 55%;
  padding: 1em;
  padding-left: 3em;
}
#rightabout h1 {
  color: var(--purple);
  font-size: 2.5em;
  font-weight: 400;
  margin: 0;
}
#location {
  color: rgba(255, 255, 255, 0.531);
  margin-top: -0.1em;
  margin-bottom: 1.5em;
}
#rightaboutp {
  color: #333333;
  font-weight: 200;
  letter-spacing: 0.1em;
  font-size: large;
}
#resume-button-2 {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1em;
  padding: 0.5em 1em;
  background-color: var(--purple);
  border: 0.5px solid transparent;
  border-radius: 0.2em;
  color: var(--white);
  gap: 0.3em;
  transition: 0.25s ease-in-out;
  opacity: 0;
}
#resume-button-2:hover {
  cursor: pointer;
  background-color: var(--bgcolor);
  border: 0.5px solid var(--purple);
  color: var(--purple);
}
#skills {
  display: flex;
  height: 110vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
#skillsp {
  width: 100%;
  font-size: 2em;
  color: var(--purple);
  text-align: center;
  opacity: 0;
}
#rightskills {
  width: 85%;
  height: 25%;
  display: flex;
  transform: translateX(50%);
  padding: 2em;
  opacity: 0;
}
#skillsanimation {
  width: 40%;
  height: 25%;
  position: relative;
}
@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(40px); /* Adjust the floating distance */
  }
  50% {
    transform: translateY(0px); /* Adjust the floating distance */
  }
  75% {
    transform: translateY(-40px); /* Adjust the floating distance */
  }
  100% {
    transform: translateY(0); /* Adjust the floating distance */
  }
}

#skillscard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1.5em;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  position: relative;
  animation-name: sfloatAnimation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes sfloatAnimation {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(15px);
  }
  75% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
#skillscard img {
  width: 80%;
  margin: 0;
}
#skillscard p {
  font-size: small;
  color: var(--white);
}
.card:after {
  content: "";
  height: 70px;
  width: 1px;
  position: absolute;
  left: -1px;
  top: 75%;
  transition: top, opacity;
  transition-duration: 600ms;
  transition-timing-function: ease;
  background: linear-gradient(transparent, mediumslateblue, transparent);
  opacity: 0;
}

.card:after {
  top: 75%;
  opacity: 0;
}
.card:hover {
  cursor: pointer;
}
.card:hover:after {
  top: 10%;
  opacity: 1;
}

/* project animations and style */
#projects {
  width: 100%;
  height: 80vh;
  background-color: var(--bgcolor);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projecttitle {
  position: absolute;
  opacity: 0;
  color: var(--purple);
  font-size: 1em;
  transform: translateX(80%);
}
#projectanimation {
  width: 90%;
  height: 90%;
}

/* ---------------------------------project k nichey wala animation */

.gallery {
  display: flex;
  opacity: 0;
}
.left {
  width: 50%;
}
.right {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desktopContent {
  margin: auto;
  width: 70%;
}

.projectCardDetail {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desktopPhotos {
  width: 35vw;
  height: 35vw;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.project-image {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.project-image img {
  width: 100%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 1em;
  transition: 0.25s ease-in-out;
}
.project-image img:hover {
  cursor: pointer;
}
/* defines styles for screens up to 599px wide */
@media screen and (max-width: 599px) {
  .left {
    display: none;
  }

  .right {
    height: auto;
    width: 100%;
    align-items: center;
  }

  .desktopPhotos {
    display: none;
  }

  .mobileContent {
    display: block;
  }
}

.project-title {
  color: var(--purple);
  text-align: center;
  font-weight: 400;
  font-size: 3em;
}
.project-description {
  font-size: 1.5em;
  color: var(--white);
  padding: 1em;
  font-weight: 200;
}
.project-tech-stack {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 2em 0;
}
.project-tech-stack img {
  width: 6%;
}
#link-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 2em 0;
  border-bottom: 0.5px solid var(--white);
}
#link-div a {
  font-size: 2em;
  color: var(--white);
  transition: 0.25s ease-in-out;
}
#link-div a:hover {
  color: var(--purple);
}
/* --------------------------------- */
#stats {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  justify-content: center;
  align-items: center;
}
#statsa1,
#statsa2,
#statsa3,
#statsa4 {
  opacity: 0;
  width: 50%;
  display: flex;
  justify-content: center;
}

/* ---------------------------------------------- */
#contact {
  /* height: 85vh; */
  width: 100%;
  margin: auto;
  margin-bottom: 4em;
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
  background-color: var(--bgcolor);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 35px 40px -7px;
}
#contactp,
#statsp {
  margin-top: 1em;
  margin-bottom: 2em;
  font-size: 4em;
  opacity: 1;
  text-align: center;
  color: var(--purple);
}
#contactp {
  margin-top: 3em;
}
#qrwrapper,
#contactlinkedingithub {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
#whatsapp,
#contact-phone,
#contact-email {
  width: 20%;
  padding: 1.8em;
  border-radius: 0.8em;
  border: 1px solid var(--white);
  box-shadow: rgba(0, 0, 0, 0.46) 0px 19px 38px,
    rgba(0, 0, 0, 0.309) 0px 15px 12px;
  color: #25d366;
  text-align: center;
  opacity: 0;
}
#contact-email {
  color: #0ec5ff;
}
#contact-phone {
  color: #db9b4d;
}
#whatsapp p,
#contact-phone p,
#contact-email p {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  font-weight: 200;
  font-size: 1.5em;
  align-items: center;
  margin-bottom: 0;
}
#whatsapp span,
#contact-phone span,
#contact-email span {
  color: var(--white);
}
#contact div > img {
  width: 100%;
}
#contact-linkedin,
#contact-github {
  /* text-decoration: none; */
  margin: 3em;
  color: var(--white);
  transition: 0.25s ease-in-out;
}
#contact-linkedin:hover,
#contact-github:hover {
  color: var(--purple);
}
#contactlastchild {
  width: 20%;
  text-align: center;
  margin: auto;
  margin-top: 3em;
  color: var(--white);
  font-size: 1.2em;
  font-weight: 200;
  padding: 0.8em;
  border-bottom: 0.5px solid mediumslateblue;
}
/* --------------------------------------- */
#footersection {
  height: 5vh;
  background-color: var(--white);
}
#statistics {
  background-color: var(--bgcolor);
}

/* ------------------------------ */

#home {
  display: flex;
  flex-direction: column;
  padding: 3em;
  padding-top: 5em;
}
#home div {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.314);
}
#home div:nth-child(4) {
  border: none;
}
#line1,
#line2,
#line3 {
  font-size: 5em;
  color: var(--white);
  margin: 0;
  margin-top: 2em;
}
#line2 {
  text-align: center;
}
#line3 {
  text-align: end;
}
#line4 {
  font-size: small;
  color: rgba(255, 255, 255, 0.579);
  text-align: end;
}
/* ------------------------------ */
#quote {
  font-size: 2em;
  margin: 0;
  transition: 0.25s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-weight: 900;
  color: var(--bgcolor);
  text-decoration: none;
}
#hamburger-menu-button {
  display: none;
  background-color: transparent;
  color: var(--white);
  font-size: 1.5em;
  margin-right: 1em;
  border: none;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  z-index: 10;
}
#hamburger-menu-button:hover {
  color: var(--purple);
}

.rightpanel {
  max-width: 200px;
  background-color: var(--bgcolor);
  background-size: 117px 188px;
  transition: all 0.5s ease-out;
  position: fixed;
  z-index: 5;
  right: -100%;
  top: 0;
  height: 100vh;
  border-left: 0.5px solid black;
  width: 50%;
  visibility: hidden;
  opacity: 0;
  padding: 3em;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  &.open {
    visibility: visible;
    width: 100%;
    right: 0;
    opacity: 1;
  }
}
.rightpanel a {
  text-decoration: none;
  color: var(--white);
  transition: 0.25s ease-in-out;
}
.rightpanel a:hover {
  color: var(--purple);
}

@media screen and (max-width: 1024px) {
  #rightskills {
    transform: translateX(0%);
    opacity: 1;
    padding: 0;
    width: 100%;
  }
  #skillscard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 30%;
    height: 20%;
    text-align: center;
    padding: 0.8em;
  }
  #aboutp {
    opacity: 1;
    text-align: center;
    color: var(--purple);
  }
  #skillsp {
    opacity: 1;
  }
}
@media screen and (max-width: 800px) {
  #nav-menu {
    justify-content: space-evenly;
    width: 100%;
  }
  #right-nav {
    width: 40%;
    opacity: 0;
  }
  #left-nav {
    width: 40%;
  }
  #left-nav a {
    font-size: 0.8em;
  }
  .gallery {
    display: flex;
    opacity: 1;
  }
  #hamburger-menu-button {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  #line1,
  #line2,
  #line3 {
    font-size: 2em;
  }
  #aboutp {
    font-size: 2em;
  }
  #mainabout {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 1;
  }
  #leftabout {
    width: 20%;
  }
  #rightabout p {
    font-size: 0.5em;
  }
  #projecttitle {
    font-size: 0.5em;
  }
}
