body{
    font-family: 'Radio Canada', sans-serif;
    margin: 0;
    padding: 0;
}
#nav-menu{
    position: sticky;
    top: 0;
    background-color:#343434;
    padding: .9em 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#nav-menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.488);
    transition: .2s ease-in-out;
}
#nav-menu img{
    width: 20%;
}
#nav-menu a:hover{
    color: rgba(255, 255, 255, 0.827);
}
#home,#contact,#skills{
    height: 100vh;
    border: .5px solid red;
    text-align: center;
    display: flex;
    align-items: center;
}
#about,#projects{
    height: 100vh;
    border: .5px solid blueviolet;
    display: flex;
    align-items: center;
}
#home{
    display: flex;
}
#home-left,#home-right{
    width: 50%;
    height: 100%;
    border: 1px solid;
    transition: .5s ease-in-out;
}
@keyframes slide-from-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-from-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }